{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
<div class="page-header">
        <h1><a href="{% url 'board:post_list' %}">게시판 예제!</a></h1>
        <h2 class="land"><a href={% url 'home' %} >Go to Landing Pageeee</a></h2>
        <a href="{% url 'board:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>