@font-face { font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal; font-style: normal; }

h1 a {
    color: #FCA205;
    font-family: 'NeoDunggeunmo';
}

body {
    padding-left: 15px;
}

.post {
    margin-bottom: 70px;
    border: 1.5px #3875d7 solid;
    padding: 30px;
}

.date {
    color: #828282;
    text-align: right;
}

.save {
    float: right;
}