@font-face { font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal; font-style: normal; }

h1 a {
    color: #FCA205;
    font-family: 'NeoDunggeunmo';
}

body {
    padding-left: 15px;
}

.post {
    margin-bottom: 70px;
    border: 1.5px #3875d7 solid;
    padding: 30px;
}

.date {
    color: #828282;
    text-align: right;
}

.save {
    float: right;
}

.land {
    text-align: right;
    font-family: 'NeoDunggeunmo';
}

.land a{
     color: #BDDFE3
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 40px 20px 50px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.edit_button{
    float: right;
    margin : 10px
}